/*Section Sobre Mim*/
.about-me {
    width: 100%;
    height: auto;
    background-color: var(--cor-secundaria);
}

.about-body {
    display: flex;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

/*Configuraçãos de Conteudo*/

.about-image,
.about-content {
    flex-basis: 450px;
    flex-grow: 1;
}

.about-image {
    max-width: 450px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--cor-primaria);
}

.about-info {
    display: flex;
    gap: 40px;
    margin: 20px 0;
}

.about-info div {
    text-align: center;
}


/*Conteudo De icons de service*/

.benefits {
    width: 100%;
    height: auto;
    background-color: var(--cor-primaria);
}

.benefits-body {
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.benefits-body h2{
    color: var(--cor-secundaria);
    font-size: 30px;
    font-weight: 600;
}

/*benifits grids and Cards*/

.benefit-grid {
    display: grid;
    height: 400px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
}


.benefit-card {
    display: flex;
    gap: 25px;
    align-items: flex-start;
}

.benefit-card i{
    color: var(--cor-secundaria);
    font-size: 50px;
}

.benefit-card h3{
    font-size: 27px;
}

.benefit-card p{
    color: var(--cor-cinza-escuro);
}



@media(max-width:768px) {

    .about-body {
        flex-direction: column;
    }

    .about-info {
        justify-content: space-between;
    }

    .benefit-grid{
        grid-template-columns: 1fr;
        gap: 70px;
        height: auto;
    }


}

@media (max-width: 480px) {
    .about-image {
        flex-basis: 380px;
    }
}

@media (max-width: 382px) {
    .about-image {
        flex-basis: 340px;
    }
}