/*Container Padrão*/
.container-home {
    width: 100%;
    height: auto;
}

/*Section Colors*/

.about-me,
.service {
    background-color: var(--cor-secundaria);
}


.benefits,
.imovel-lancamento {
    background-color: var(--cor-primaria);
}


/*-----------Section Sobre Mim-------------*/



.about-body {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    font-family: 'Roboto';
}

/*Configuraçãos de Conteudo*/

.about-image,
.about-content {
    flex-basis: 450px;
    flex-grow: 1;
}

.about-image {
    max-width: 450px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--cor-primaria);
}

.about-info {
    display: flex;
    gap: 40px;
    margin: 20px 0;
}

.about-info div {
    text-align: center;
}

/*-----------Section Imovel Lançamento-------------*/


.lancamento-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lancamento-content h2 {
    color: var(--cor-preto);
}

.lancamento-content p {
    color: var(--cor-texto-segundario);
    font-weight: 700;
}

.carrosel {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.carrosel-list {

    display: flex;
    gap: 15px;
    padding: 10px 0;
    transition: transform .4s ease;
}


/*-----------Section icons de service-------------*/



.benefits-body {
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.benefits-body h2 {
    color: var(--cor-secundaria);
}

/*benifits, service grids and Cards*/

.benefit-grid {
    display: grid;
    height: 400px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
}


.benefit-card,
.service-card {
    display: flex;
    gap: 25px;
    align-items: flex-start;
}

.benefit-card i {
    color: var(--cor-secundaria);

}

.benefit-card i,
.service-card i {
    font-size: 50px;
}

.benefit-card h3,
.service-card h3 {
    font-size: 27px;
}

.benefit-card p {
    color: var(--cor-cinza-escuro);
}

/*-----------Section service-------------*/



.service-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.service-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0;
    column-gap: 30px;
    align-content: space-between;
    align-items: start;
}


.service-body h2,
.service-card i,
.service-card h3,
.service-card p {
    color: var(--cor-primaria);
}




@media(max-width:768px) {

    .about-body {
        flex-direction: column;
    }

    .about-info {
        justify-content: space-between;
    }

    .benefit-grid, .service-grid {
        grid-template-columns: 1fr;
        gap: 70px;
        height: auto;
        align-self: center;
    }


}

@media (max-width: 480px) {
    .about-image {
        flex-basis: 380px;
    }
}

@media (max-width: 382px) {
    .about-image {
        flex-basis: 340px;
    }
}