/*Importe de Componetes reutilizaveis*/
@import './components/card.css';
@import './components/navbar-admin.css';
@import './components/navbar.css';
@import './components/animation.css';
@import './components/admin.css';
@import './components/modal.css';
@import './components/banner.css';
@import './components/footer.css';

/*Importe de css de páginas*/
@import './home.css';
@import './catalog.css';
@import './login.css';
@import './dashboard.css';
@import './imovelAdmin.css';


/*Configurações Root*/

:root {
    /* Cor padrões para o site*/
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #0C57E3;
    --cor-cinza-claro: #c2ccd4;
    --cor-branco-fantasma: #f7f9fa;
    --cor-cinza-escuro: #424654;
    --cor-preto: #111111;

    /*Cor Para Textos*/
    --cor-texto-segundario: #788896;

    /*Cores Padrões para Botões*/

    --btn-color-blue: #2c88d9;
    --btn-color-blue-hover: #236eaf;


    /*Box Shadow padrão*/

    --box-shadown-default: 0 4px 12px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;

}

/*Bloqueia Sroll do Body*/
body.no-scroll{
    overflow: hidden;
}


h3 {
    font-size: 24px;
    margin: 5px 0;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 14px;
}

label {
    color: var(--cor-texto-segundario);
    font-size: 16px;
}

/*section-container*/
.section-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 32px;
}

.section-body{
    padding: 40px 0;
}

/*Text area*/

textarea {
    resize: none;
}

/*Container Padrão*/

.container-section {
    max-width: 1400px;
    margin: 0 auto;
}



.btn-default {
    padding: 10px;
    border: 0 solid;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

}


/*Botão padrão branco*/
.btn-blue {
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}

.btn-blue:hover {
    background-color: var(--btn-color-blue-hover);
}

/*Botão padrão Branco*/
.btn-white {
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-cinza-claro);
}

/*Input text Default*/

.input-default {
    padding: 10px;
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-cinza-claro);
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.2s
}

.input-default[readonly] {
    background-color: var(--cor-cinza-claro);
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
    border-color: var(--cor-texto-segundario);
}

select:disabled {
    background-color: var(--cor-cinza-claro);
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
    border-color: var(--cor-texto-segundario);
}


.input-default::placeholder {
    color: var(--cor-texto-segundario);
    opacity: 1;
}

.input-default:focus {
    border-color: var(--cor-secundaria);
}

/* 1. Cor do texto "Selecione..." (Quando o select ainda é inválido) */
.input-default-select {
    padding: 10px;
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-cinza-claro);
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    color: var(--cor-texto-segundario);
    opacity: 1;
}