/*Importe de Componetes reutilizaveis*/
@import './card.css';
@import './animation.css';

/*Importe de css de páginas*/
@import './catalog.css';
@import './login.css';


/*Configurações Root*/

:root {
    /* Cor padrões para o site*/
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #2c88d9;
    --cor-cinza-escuro: #c2ccd4;
    --cor-branco-fantasma: #f7f9fa;

    /*Cor Para Textos*/
    --cor-texto-segundario: #788896;

    /*Cores Padrões para Botões*/

    --btn-color-blue: #2c88d9;
    --btn-color-blue-hover: #236eaf;


    /*Box Shadow padrão*/

    --box-shadown-default : 0 4px 12px rgba(0, 0, 0, 0.1);
}


h3 {
    font-size: 24px;
    margin: 5px 0;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 14px;
}

label {
    margin-bottom: 8px;
    color: var(--cor-texto-segundario);
    font-size: 14px;
}

/*Container Padrão*/

.container-section {
    max-width: 1400px;
    margin: 0 auto;
}



.btn-default {
    padding: 10px;
    border: 0 solid;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

}


/*Botão padrão branco*/
.btn-blue {
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}

.btn-blue:hover{
    background-color: var(--btn-color-blue-hover);
}

/*Botão padrão Branco*/
.btn-white {
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-cinza-escuro);
}

/*Input text Default*/

.input-default {
    padding: 10px;
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-cinza-escuro);
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.2s
}

.input-default[readonly] {
    background-color: var(--cor-cinza-escuro);
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
    border-color: var(--cor-texto-segundario);
}


.input-default::placeholder {
    color: var(--cor-texto-segundario);
    opacity: 1;
}

.input-default:focus {
    border-color: var(--cor-secundaria);
}